.audio-container {
    width: 200px;
}

.btn-play{
    width: 35px;
    background-image: image-url('play-button-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.audio-player{
    display: flex;
    flex-direction: row;
    height: 30px;
}

.audio-player:hover{
    cursor: pointer;
}