.pack-show{
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 70px;
}

.pack-banner{
    position: relative;
    height: 250px;
    font-family: 'Roboto';
    color: white;
    overflow: hidden;
    border-radius: 20px;
}

.pack-banner h2{
    font-size: 50px;
}

.cover-art{
    width: 170px;
    height: 170px;
    z-index: 1;
    position: relative;
    top: 40px;
    left: 40px;
}

.cover-art-background{
    width: 100%;
    position: absolute;
    left:0;
    top: 0;
    z-index: -2;
    object-fit: cover;
    filter: blur(20px);
}



.pack-info{
    z-index: 8;
    position: relative;
    left: 230px;
    bottom: 135px;
    width: 600px;
}

.pack-info p{
    position: relative;
    top: 8px;
    line-height: 1.2;
}

.play-demo{
    position: relative;
    top: 15px;
    display: flex;
    
}

.play-demo-button{
    background-color: white;
    color: black;
    padding: 4px;
    border-radius: 12px;
}

.play-demo-button:hover{
    cursor: pointer;
}

.play-demo-text{
    font-size: 12px;
    padding: 5px;
    font-weight: bold;
}

.darken{
    position: relative;
    bottom: 350px;
    height: 400px;
    background: black;
    z-index: 0;
    opacity: 20%;
}

.sample-headers{
    display: flex;
    flex-direction: row;
    font-family: 'Roboto';
    font-size: 13px;
    padding: 8px 0px 8px 0px;
    color: grey;
    width: 100%;
    min-width: 800px;
}

.sh-pack-filename{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 20px;
}

.sh-pack{
    position: relative;
    left: 10px;
}

.sh-filename{
    position: relative;
    left: 270px;
    width: 83px;
    min-width: 80px;
}

.sh-info{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 475px;
}

.sh-key{
    width: 152px;
}
.sh-bpm{
   width: 137px;
}

.sh-like{
   padding-right: 72px;
}

.sh-cart{
    // position: relative;
    // left: 870px;
}

.sample-preheader{
    font-family: 'Roboto';
    padding: 15px;
    color: grey;

}

.samples-container{
    background: white;
    height: 250px;
    overflow: scroll;
}

audio{
    height: 35px;
    width: 100%;
    color: white;
    outline-style:none;
}

.bottom-audio-player{
    background: #F1F3F4;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-top: 10px;
    position: absolute;
    bottom: 0px;
    width: 90%;
    margin-bottom: 10px;
}

.demo-player{
    width: 100%;
    padding-top: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    position: relative;
    bottom: 0px;
}

.demo-player-icon{
    height: 35px;
    padding-top: 7.5px;
}

.demo-player-info{
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Arial';
    color: rgb(89, 88, 88);
    min-width: 130px;
    font-size: 10px;
    font-style: italic;
}

.demo-pack-name{
    font-style: normal;
    font-size: 13px;
    font-weight: bold;
}

.sample-show-container{
    max-width: 80%;
}

