

.audio-container {
    width: 200px;
}

.btn-play{
    width: 35px;
    background-image: image-url('play-button-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.btn-pause{
    width: 35px;
    background-image: image-url('pause-button-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.audio-player{
    display: flex;
    flex-direction: row;
    height: 30px;
}

.audio-player:hover{
    cursor: pointer;
}

.sample-row{
    display: flex;
    flex-direction: row;
    padding: 4px;
    border-top: solid 0.5px lightgrey;
    max-height: 100%;
    width: 100%;
}

.sample-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 15px;
    position: relative;
    left: 50px;
    color: rgb(109, 109, 109);
    width: 266px;
    min-width: 266px;
}

.sample-key-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 15px;
    color: rgb(109, 109, 109);
    padding-left: 0px;
    width: 120px;
    padding-right: 72px;
}

.sample-key{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sample-bpm-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto';
    left: 25px;
    color: rgb(109, 109, 109);
    padding-left: 0px;
    width: 50px;
}

.sample-bpm{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.parent-pack-icon img{
    height: 30px;
}

.sample-info{
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    width: 500px;
    padding-right: 50px;
}


.heart-icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 110px;
    padding-left: 100px;
}

.fa-heart{
    cursor: pointer;
}

.cart-icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-icon{
    background-image: image-url('download-icon');
    background-size: cover;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

