.pack-show{
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 70px;
}

.pack-banner{
    position: relative;
    height: 250px;
    font-family: 'Roboto';
    color: white;
    overflow: hidden;
    border-radius: 20px;
}

.pack-banner h2{
    font-size: 50px;
}

.cover-art{
    width: 170px;
    height: 170px;
    z-index: 1;
    position: relative;
    top: 40px;
    left: 40px;
}

.cover-art-background{
    width: 100%;
    position: absolute;
    left:0;
    top: 0;
    z-index: -2;
    object-fit: cover;
    filter: blur(20px);
}



.pack-info{
    z-index: 10;
    position: relative;
    left: 230px;
    bottom: 120px;
}

.darken{
    position: relative;
    bottom: 300px;
    height: 400px;
    background: black;
    z-index: 0;
    opacity: 20%;
}

.sample-headers{
    display: flex;
    flex-direction: row;
    // justify-content: space-between; 
    font-family: 'Roboto';
    font-size: 13px;
    padding: 8px 0px 8px 0px;
    color: grey;
    min-width: 800px;
}

.sh-pack{
    position: relative;
    left: 10px;
}

.sh-filename{
    position: relative;
    left: 270px;
}

.sh-key{
    position: relative;
    left: 500px;
}
.sh-bpm{
    position: relative;
    left: 650px;
}

.sh-like{
    position: relative;
    left: 765px;
}

.sh-cart{
    position: relative;
    left: 870px;
}

.sample-preheader{
    font-family: 'Roboto';
    padding: 15px;
    color: grey;

}

.samples-container{
    background: white;
}

audio{
    height: 35px;
    width: 100%;
    color: white;
    outline-style:none;
}

.bottom-audio-player{
    background: #F1F3F4;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    
}

.demo-player{
    width: 100%;
    padding-top: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.demo-player-icon{
    height: 35px;
    padding-top: 7.5px;
}

.demo-player-info{
    padding-top: 14px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Arial';
    color: rgb(89, 88, 88);
    min-width: 130px;
    font-size: 10px;
    font-style: italic;
}

.demo-pack-name{
    font-style: normal;
    font-size: 14px;
    font-weight: bold;
}