

.audio-container {
    width: 200px;
}

.btn-play{
    width: 35px;
    background-image: image-url('play-button-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.btn-pause{
    width: 35px;
    background-image: image-url('pause-button-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.audio-player{
    display: flex;
    flex-direction: row;
    height: 30px;
}

.audio-player:hover{
    cursor: pointer;
}

.sample-row{
    display: flex;
    flex-direction: row;
    padding: 4px;
    border-top: solid 0.5px lightgrey;
    max-height: 100%;

}

.sample-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 15px;
    position: relative;
    left: 30px;
    color: rgb(109, 109, 109);
    width: 320px;
    min-width: 320px;
}

.sample-key{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 15px;
    color: rgb(109, 109, 109);
}

.sample-bpm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto';
    left: 25px;
    color: rgb(109, 109, 109);
}

.parent-pack-icon img{
    height: 30px;
}

.sample-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    padding-right: 50px;
}

.row-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}